{% extends "otherlayout.html" %}
{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="col-md-10 col-lg-9 col-xl-8">
	<div class="col-md-12 col-lg-12 col-xl-12" style="margin-top: 20px">
		<div class="alert alert-{{ category }} container" role="alert">
			{{ message.decode("utf-8") }}
		</div>
	</div>
	<div style="margin-top: 20px" class="col-md-12 col-lg-12 col-xl-12">
		<h3>Şifremi Unuttum</h3>
		<hr>
		<form method="post">
			<div class="form-group">
				<label for="email">E-posta</label>
				<input type="email" class="form-control" name="email" required>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Gönder</button>
			</div>
			<div class="form-group">
				<a href="/login">Giriş Yap</a> | <a href="/register">Kayıt Ol</a>
			</div>
		</form>
	</div>
</div>
{% endfor %}
{% else %}
<div class="col-md-10 col-lg-9 col-xl-8" style="margin-top: 70px">
	<form method="post" class="col-md-12 col-lg-12 col-xl-12">
		<h3>Şifremi Unuttum</h3>
		<hr>
		<div class="form-group">
			<label for="email">E-posta</label>
			<input type="email" class="form-control" name="email" required>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Gönder</button>
		</div>
		<div class="form-group">
			<a href="/login">Giriş Yap</a> | <a href="/register">Kayıt Ol</a>
		</div>
	</form>
</div>
{% endif %}
{% endwith %}
{% endblock body %}