{% extends "otherlayout.html" %}
{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="col-md-10 col-lg-9 col-xl-8">
	<div class="col-md-10 col-lg-11 col-xl-12" style="margin-top: 20px">
		<div class="alert alert-{{ category }} container" role="alert">
			{{ message.decode("utf-8") }}
		</div>
	</div>
	<div style="margin-top: 20px" class="col-md-10 col-lg-11 col-xl-12">
		<h3>Şifre Yenile</h3>
		<hr>
		<form method="post">
			<div class="form-group">
				<label for="newpassword">Yeni Şifre</label>
				<input type="password" class="form-control" name="newpassword" required>
			</div>
			<div class="form-group">
				<label for="confirmpassword">Şifreyi Doğrula</label>
				<input type="password" class="form-control" name="confirmpassword" required>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Şifreyi Oluştur</button>
			</div>
		</form>
	</div>
</div>
{% endfor %}
{% else %}
<div class="col-md-10 col-lg-9 col-xl-8" style="margin-top: 70px">
	<form method="post" class="col-md-10 col-lg-11 col-xl-12">
		<h3>Şifre Yenile</h3>
		<hr>
		<div class="form-group">
			<label for="newpassword">Yeni Şifre</label>
			<input type="password" class="form-control" name="newpassword" required>
		</div>
		<div class="form-group">
			<label for="confirmpassword">Şifreyi Doğrula</label>
			<input type="password" class="form-control" name="confirmpassword" required>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Şifreyi Oluştur</button>
		</div>
	</form>
</div>
{% endif %}
{% endwith %}
{% endblock body %}